<div class="jumbotron">
    <h2>WOT server ping</h2>
</div>

<div class="row">
    <table class="table table-responsive table-striped">
    {foreach $results as $key => $val}
        <tr>
            <td>Server {$key}</td>        
            <td>{$val}ms</td>
        </tr>
    {/foreach}
    </table>
</div>
